.text {
    -fx-font-family: "Inter Regular", sans-serif;
    -fx-text-fill: #C2C2C2;
    -fx-font-size: 20;
}

.green_text {
    -fx-font-family: "Inter Regular", sans-serif;
    -fx-text-fill: #B7E8B9;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.header {
    -fx-font-family: "Inter Regular", sans-serif;
    -fx-text-fill: #C2C2C2;
    -fx-font-size: 60;
    -fx-font-weight: bold;
}

.bold {
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.greenButton {
    -fx-background-color: #B7E8B9;
    -fx-text-fill: #282828;
    -fx-font-weight: bold;
}

.redButton {
    -fx-background-color: #ff7373;
    -fx-text-fill: #282828;
    -fx-font-weight: bold;
}

.darkRedButton {
    -fx-background-color: #912c24;
    -fx-font-weight: bold;
}
